* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    border-radius: 5px;
}
/* #inputOutput{
    width: 240px;
    background-color: #C0C0C0;
    text-align: right;
    padding: 20px;
    font-size: 25px;
} */
.output {
    text-align: right;
    
    height: 20px;
    font-size: 25px;
    background-color: #C0C0C0;
    padding: 20px;
    border-radius: 0%;
}
.input {
    border-radius: 0%;
    height: 20px;
    background-color: #C0C0C0;
    text-align: right;
    padding: 20px;
    font-size: 25px;
}
button {
    padding: 0;
    width: 67px;
    height: 45px;
    background-color: #C0C0C0;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-width: 0;
}
button:hover {
    background-color: #808080;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
body{
    position: relative;
    left: 30%;
    top: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    width: 282px;
    background-color: antiquewhite;
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
    border-radius: 0px;
}
.modal-content {
background-color: #F2C9E0;
margin: 15% auto; /* 15% сверху и по центру */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
border-radius: 10px;
}
  
  /* Кнопка закрытия */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}